<section class="section-testimonial">
  <div class="container">
    <div class="testimonial-container">
      <div class="wid-50 testimonial">
        <img src="assets/user-img.png" />
        <p>
          The IUDX program is an excellent example of how collaboration between
          academia, government and industry can create something of significant
          value. All stakeholders in the Indian Smart City ecosystem will gain
          from this initiative. It has enabled academic institutions and
          research labs to conduct more meaningful research by having direct
          access to a wide variety of data. IISc is proud of its contribution to
          the conception of IUDX, and is privileged to nurture this effort as it
          evolves into a major national asset.
        </p>
        <div class="user">
          <span class="name">- Govindan Rangarajan</span>
          <span class="position">Director - Indian Institute of Science, Bengaluru</span>
          <img src="assets/company-logo.png" >
        </div>
      </div>
      <div class="wid-50 testimonial-images">
        <img class="img-banner" src="/assets/testimonial-banner-back.png">
        <img class="img-1" src="/assets/testimonial-banner-1.png">
        <img class="img-2" src="/assets/testimonial-banner-2.png">
        <img class="img-3" src="/assets/testimonial-banner-3.png">
      </div>
    </div>
  </div>
</section>
