<div class="overlay"></div>
<div class="popup">
  <div class="head">
    <h2>Authentication Needed</h2>
    <img (click)="closePopup()" src="assets/close.svg">
  </div>
  <div class="body">
    <span>Login/Register</span>
    <p>
      Please login or register into your IUDX accounts panel to continue with
      this request.
    </p>
    <div class="buttons">
      <button (click)="loggedIn()">Login/Register</button>
      <div class="cancel" (click)="closePopup()">Cancel</div>
    </div>
  </div>
</div>
