<div class="overlay"></div>
<div class="popup">
  <div class="head">
    <h2>Request for dataset</h2>
    <img (click)="closePopup()" src="assets/close.svg">
  </div>
  <div class="body">
    <span>Dataset</span>
    <h3>
      Physical locations of bike docking stations in Bhopal city
    </h3>
    <div class="expires">
      <span>Policy expires in *</span>
      <div class="input-container">
        <label>
          Years
          <input type="number"
                 onkeypress="return (event.charCode === 8 || event.charCode === 0 ||
                 event.charCode === 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                 [(ngModel)]="year" min="0"
                 max="10" >
        </label>
        <label>
          Months
          <input type="number"
                 onkeypress="return (event.charCode === 8 || event.charCode === 0 ||
                  event.charCode === 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                 [(ngModel)]="month" min="0"
                 max="12" >
        </label>
        <label>
          Days
          <input type="number"
                 onkeypress="return (event.charCode === 8 || event.charCode === 0 ||
                  event.charCode === 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                 [(ngModel)]="day" min="0"
                 max="31" >
        </label>
      </div>
    </div>
    <div class="buttons">
      <button (click)="submit()">Submit</button>
      <div class="cancel" (click)="closePopup()">Cancel</div>
    </div>
  </div>
</div>
