<section class="usps">
  <div class="container">
    <h2>
      Datasets used by 1,000 companies, developers with fast access to smart
      city data
    </h2>
    <p>
      Search and find from 2 datasets, 4 resources and 2 publishers
    </p>
    <div class="usps-cards-container">
      <div class="card">
        <div class="icon">
          <img src="assets/usp-1.svg" >
        </div>
        <div>
          <h3>Well documented</h3>
          <p>
            All our data resources are well documented. IUDX provides the
            best-in-class services along with technical documents.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <img src="assets/usp-2.svg" >
        </div>
        <div>
          <h3>Simplified dataset platform</h3>
          <p>
            A single hub to find, connect to, and share datasets and resources.
            Discover the right dataset with powerful search and filter.
          </p>
        </div>

      </div>
      <div class="card">
        <div class="icon">
          <img src="assets/usp-3.svg" >
        </div>
        <div>
          <h3>Realtime dashboards</h3>
          <p>
            Insights and analytics on dataset and resource usage. Monitor and
            analyse the performance of all your public and private
            datasets/resources.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
