.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 4;
}


.api-container {
  width: 65%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--white);

  .title {
    padding: 30px;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;

      img {
        margin: 0 15px 0 0;
        width: 20px;
      }
    }

    img {
      cursor: pointer;
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .copy-container {
    padding: 0 30px 30px;

    .copy {
      position: relative;
      background: var(--light-background);
      padding: 20px 20px 30px;
      border-radius: 6px;

      p {
        line-break: anywhere
      }

      img {
        position: absolute;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 500px) {
  .api-container {
    width: 100%;
    height: 100%;
    border-radius: 0;

    .title {
      padding: 15px;
    }

    h1 {
      font-size: 14px;
    }
  }
}
