<section class="domains">
  <div class="container">
    <ul>
      <li (click)="go_to_all_domains()">
        <div class="img-container">
          <img src="https://iudx-catalogue-assets.s3.ap-south-1.amazonaws.com/domains/all-domains.png" >
        </div>
        <span>All Domains</span>
      </li>
      <li *ngFor="let domain of domains" (click)="goToDataset(domain)">

        <div class="img-container">
          <img [src]="domain.icon" [alt]="domain.name">
        </div>
        <span>{{domain.name}}</span>
      </li>
    </ul>
  </div>
</section>
